<h2>New Student</h2>
<form  action="/students" method="post">
    <label for="student[nombre]">Nombre</label>
    <input type="text" name="student[nombre]">
    <br>
    <label for="student[correo]">Email</label>
    <input type="text" name="student[correo]">
    <br>
    <label for="student[fecha]">Fecha</label>
    <input type="date" name="student[fecha]">
    <br>
    <label for="sudent[programa]"> Programa</label>
    <input type="text" name="student[programa]" value="">
    <br>
    <input type="submit"  value="Guardar">
</form>
