<h1>Teachers</h1>
<% @teachers%>
<table border="1px">
  <tr>
      <th> nombre</th>
      <th> correo</th>
      <th> Programa</th>
  </tr>

    <%@teachers.each do |teacher|%>
  <tr>
    <td><%= teacher.nombre%></td>
    <td><%= teacher.correo%></td>
    <td><%= teacher.programa %></td>
  </tr>
  <%end%>
</table>
<a href="/teachers/new"> New Teacher</a>
