<h2>New Teacher</h2>
<form  action="/teachers" method="post">
    <label for="teacher[nombre]">Nombre</label>
    <input type="text" name="teacher[nombre]">
    <br>
    <label for="student[correo]">Email</label>
    <input type="text" name="teacher[correo]">
    <br>
    <label for="sudent[programa]"> Programa</label>
    <input type="text" name="teacher[programa]" value="">
    <br>
    <input type="submit"  value="Guardar">
</form>
